modules = ["python-3.11", "postgresql-16", "python3"]
[agent]
integrations = ["web_scraper:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "sqlite"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "jackpotpicks.bet"

[[workflows.workflow]]
name = "jackpotpicks.bet"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python flask_app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32835
externalPort = 3001

[[ports]]
localPort = 36583
externalPort = 3000

[[ports]]
localPort = 36857
externalPort = 8008

[[ports]]
localPort = 37691
externalPort = 6800

[[ports]]
localPort = 38173
externalPort = 8080

[[ports]]
localPort = 38875
externalPort = 8081

[[ports]]
localPort = 38993
externalPort = 4200

[[ports]]
localPort = 39205
externalPort = 6000

[[ports]]
localPort = 41781
externalPort = 5000

[[ports]]
localPort = 42881
externalPort = 5173

[[ports]]
localPort = 43199
externalPort = 3002

[[ports]]
localPort = 44159
externalPort = 8000

[[ports]]
localPort = 45839
externalPort = 3003
